html, body {
    width: 100%;
    margin: 0;
}

h1 {
    margin: auto 24px;
}

header {
    
    background-color: #F5F5F5;
}

footer {
    background-color: #05274B;
}

main {
    background-color: lightblue;
}

h2 {
    margin-left: auto;
    font-size: 36px;
}

.flex {
    display: flex;
}

.logo {
    margin-left: 28px;
    margin-top: 18px;
    margin-bottom: 18px;
    height: 142px;
}

.login {
    margin: auto;
    margin-right: 180px;
    text-decoration: none;
    color: #4C5CED;
    font-size: 30px;
}

.content {
    margin-top: 110px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.contetnWhite {
    background-color: #F5F5F5;
}

.registrationInput {
    background-color: #F5F5F5;
    width: 414px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #999999;
}

.contentBlue {
    color: white;
    background-color: #4C5CED;
}

.loginText {
    font-size: 30px;
    margin: 0;
}

.column {
    flex-direction: column;
}

.footerText {
    color: white;
    margin: 70px auto;
}

.squares {
    display: block;
    position: relative;
    bottom: 0;
    left: 0;
}

.loginReadress {
    margin: 260px 150px;
    margin-bottom: 87px;
}

.loginForm {
    margin: 70px 100px;
}

.email {
    margin-bottom: 114px;
}

.submitBtn {
    font-size: 24px;
    background-color: #4C5CED;
    padding: 20px 64px;
    margin: 44px auto;
    border: none;
    border-radius: 78px;
    color: white;
}

.loginBtn {
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 78px;
    font-size: 24px;
    padding: 20px 74px;
    margin: 70px auto;
}